.member-bills-root{
    overflow: hidden;
    width: auto;
    transition: height 1s ease-in-out;
}

.member-bills-info-header {
    background-color: white;
    border: none;
    border-bottom: 1px solid #ededed;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-bills-info-header > h3 {
    margin-left: 20px;
    font-size: 1.2em;
}
.member-bills-info-header > svg {
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.member-bills-info-details {
    /* border: 1px solid blue; */
    display: none;
    /* width: auto; */
    /* max-height: 1000px; */
    transition: max-height 0.3s ease-in-out;
}

.bill-active {
    display: block;
    max-height: 500px;
    /* transition: max-height 1s ease-in-out; */
}

.bill-inactive {
    display: block;
    max-height: 0;
    /* visibility: visible; */
}

.no-details {
    padding-left: 30px;
}