.member-congress-committee-root {
    /* border: 1px solid red; */
    align-items: center;
    box-shadow: -1px 0.5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.member-congress-committee-info {
    
    /* border: 1px solid green; */
}

.member-congress-committee-link {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    padding: 10px 15px;
    text-align: center;
}

@media only screen and (min-width : 420px) {
    .member-congress-committee-root  {
        flex-direction: row;
    }

    .member-congress-committee-link {
        margin-top: 0;
    }


}